---
const { title, description } = Astro.props;
---

<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <slot name="head" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description || 'Simulateur salaire Québec'} />
  <meta name="robots" content="index, follow" />
  <meta name="language" content="fr" />
  <meta name="author" content="SalaireNet.ca" />
  <title>{title || 'Simulateur Salaire Québec 2025 – Brut ↔ Net'}</title>
  <link rel="canonical" href="https://salairenet.ca/" />
  <link rel="icon" type="image/png" href="/favicon.png" />


  <meta name='impact-site-verification' value='ae09573a-3a04-43a4-ac23-393dadfe372c'>
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://salairenet.ca/" />
  <meta property="og:title" content={title || 'Simulateur Salaire Québec 2025 – Brut ↔ Net'} />
  <meta property="og:description" content={description || 'Calculez votre salaire net au Québec en 2025 selon votre statut.'} />
  <meta property="og:image" content={Astro.props.ogImage || 'https://salairenet.ca/social-preview.png'} />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://salairenet.ca/" />
  <meta name="twitter:title" content={title || 'Simulateur Salaire Québec 2025'} />
  <meta name="twitter:description" content={description || 'Déductions à jour pour 2025 – salarié ou freelance'} />
  <meta name="twitter:image" content={Astro.props.ogImage || 'https://salairenet.ca/social-preview.png'} />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQJFD1C63M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HQJFD1C63M');
  </script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1912647362757171"
     crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/src/styles/global.css" />
</head>

  <body class="font-sans bg-gradient-to-br from-white to-patente-secondary/10 text-gray-800">
    <main class="px-4 py-8">
      <slot />
    </main>
  </body>
</html>
